@{
    ViewData["Title"] = "Home Page";
}
<!--<div class="full-screen-image">
    <img src="../images/Log in and Register BG.png" alt="Image"   />
</div>
-->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Welcome To Zuci Library</h1>
            @{
                var isLogin = Context.Session.GetString("IsLogin");
                var name = Context.Session.GetString("Name");
            }
            @if (isLogin == "true")
            {
                <br />
                <br />
                <div style="background-color:floralwhite">
                    <h1>Books are Waiting for you,</h1>
                    <h1>@name !</h1>
                </div>
            }
        </div>
    </div>
</div>
