@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
<h1 class="headings">@ViewData["Title"]</h1>
<div class="text">
    <p>
At our Library Management System, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect your information when you interact with our services. By accessing or using our Library Management System, you consent to the practices described in this policy.
<br />
<br />
<strong>Information We Collect:</strong>
<br />
<ul>
<li>Personal Information: When you register for a library card or use our services, we may collect personal information such as your name, address, email address, and phone number.</li>
<li>Usage Information: We may collect information about your interactions with our Library Management System, including the pages you visit, the books you borrow, and the resources you access.</li>
</ul>
<br />
<strong>How We Use Your Information:</strong>
<br />
<br />
<ul>
<li>
    Providing Services: We use your personal information to fulfill your requests for library services, such as borrowing books, accessing digital resources, and participating in library programs.
</li>
<li>
    Communication: We may use your contact information to send you important updates, announcements, and information about library events and programs.
</li>
<li>
    Improving Services: We analyze usage data to improve our services, enhance the user experience, and tailor our offerings to meet your needs.
</li>
</ul>    
</p>
</div>
</div>