@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="position:static">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="Home" asp-action="Index">Library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                        @{
                            var isLogin = Context.Session.GetString("IsLogin");
                            var type = Context.Session.GetString("Type");
                        }
                        @if (isLogin == "true" && type == "Admin")
                        {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="align-items:center">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="BookAdmin" asp-action="Index">Book</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="BorrowerAdmin" asp-action="Index">Borrower</a>
                                </li>
                                <li class ="nav-item">
                                    <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="TransactionAdmin" asp-action="Index">Transaction</a>
                                </li>
                            </ul>
                        </div>
                        }
                        else if (isLogin == "true" && type == "User")
                        {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="align-items:center">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="BookUser" asp-action="Index">Book</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="TransactionUser" asp-action="Index">Transaction</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="BorrowerUser" asp-action="Details">Profile</a>
                                </li>
                            </ul>
                        </div>
                        }
                </div>
            </div>
            @if (isLogin == "true")
            {
                <a class="logout" asp-controller="Account" asp-action="Logout">Logout</a>
            }
            else
            {
                <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                <a class="nav-link text-dark" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight='normal'" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="last">
            &copy; 2024 - Library - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
